

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>imgShare</title>
    <!--bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<!--custom css -->
<link rel="stylesheet" href="/public/css/style.css">
<!--font-awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!--font-awesome icon-->
{{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha384-Vkoo8q4DHu1vJCky6m6P5I1k7bUXFAzMjFZfTC5MQD3jbl5+8Fb83bqcXGMIADpX" crossorigin="anonymous"> --}}


</head>
<body>
    <nav class="navbar navbar-dark bg-dark" name="image">
        <div class="container">
        <a href="/" class="navbar-brand">
        <img src="/public/img/Facebook-Logotipo.jpg" alt="">
        </div>
        </a>
    </nav>
<div class="container p-4" >
    <div class="row">
        <div class="col-md-8">
{{{body}}}
        </div>
    </div>
    

    </div>
</body>
</html>